.contadorBox {
  font-weight: bolder;
  font-size: 20px;
}
.text1 {
  font-size: 20px;
  margin-top: 36%;
  font-family: "Bebas Neue, cursive";
}
.text2 {
  font-size: 18px;
  margin-top: 36%;
  font-family: "Bebas Neue, cursive";
}
.boxCaridometro {
  position: relative;
  top: 50%;
}
.contador {
  position: absolute;
  top: 35%;
  left: 47%;
}
