/* .background {
  background-image: url("/src/Assets/Images/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.Title {
  font-family: Impact, fantasy;
  font-size: 90px;
  margin-top: 2%;
  margin-left: 30%;
  font-family: "Montserrat Alternates", sans-serif;
  color: red;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(7, 245, 58), 0 0 0.1em blue;
}

.R {
  margin-top: 2%;
  text-align: center;
}
.D {
  margin-top: -1%;
  margin-left: 41%;
  font-family: "Montserrat Alternates", sans-serif;
  color: red;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(7, 245, 58), 0 0 0.1em blue;
}
.C {
  font-family: Impact, fantasy;
  font-size: 90px;
  margin-top: -1%;
  margin-left: 48%;

  font-family: "Montserrat Alternates", sans-serif;
  color: red;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(7, 245, 58), 0 0 0.1em blue;
}
.LogoHome {
  position: absolute;
  margin-top: -25%;
  margin-left: 55%;
  z-index: 0;
  width: 220px;
}
.MapView {
  width: 50px;
  margin-left: 30%;
  margin-top: -5%;
}
.sobre {
  margin-top: 30%;
  margin-left: 1%;
  font-size: 45px;
  color: red;
}
.cadastro {
  margin-top: -4%;
  margin-left: 1%;
  font-size: 31px;
  color: red;
}
