.background {
  background-image: url("/src/Assets/Images/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.TitleR {
  font-family: Impact, fantasy;
  font-size: 90px;
  margin-top: 2%;
  margin-left: 30%;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(233, 8, 0);
}
.TitleD {
  font-family: Impact, fantasy;
  font-size: 80px;
  margin-top: -1%;
  margin-left: 41%;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(233, 8, 0);
}
.TitleC {
  font-family: Impact, fantasy;
  font-size: 90px;
  margin-top: -1%;
  margin-left: 48%;

  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(233, 8, 0);
}
.LogoHome {
  position: absolute;
  margin-top: -25%;
  margin-left: 55%;
  z-index: 0;
  width: 220px;
}
.MapView {
  width: 50px;
  margin-left: 30%;
  margin-top: -5%;
}
.sobre {
  position: absolute;
  margin-top: 30%;
  font-size: 28px;
  color: red;
}
.cadastro {
  position: absolute;
  margin-top: -3%;
  font-size: 31px;
  color: red;
}
