/* .background {
  background-image: url("/src/Assets/Images/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.Title {
  font-family: Impact, fantasy;
  font-size: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(233, 8, 0);
}

.R {
  margin-top: 2%;
  text-align: center;
}
.D {
  margin-top: -1%;
  margin-left: 41%;
}
.C {
  margin-top: -1%;
  margin-left: 42%;
}
.LogoHome {
  position: absolute;
  margin-top: -16%;
  margin-left: 50%;
  z-index: 0;
  width: 120px;
}
